@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #64748B; /* Color barra de desplazamiento */
    border-radius: 5px; /* borde del pulgar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #CBD5E0; /* Color barra de desplazamiento */
  }

